@import '../../settings';
@import '../../tools';

.about-infer {
  &-wrapper {
    background-color: $background;
    padding-bottom: 100px;
    padding-top: 100px;
  }

  &-bio {
    padding-left: 200px;
    padding-top: 610px;
  }

  &-timeline {
    margin-left: 280px;
  }
}