@import '../../settings';
@import '../../tools';

@keyframes header-shrink {
  from {
    padding-top: 84px;
  }

  to {
    padding-top: 23px;
  }
}

@keyframes header-enlarge {
  from {
    padding-top: 23px;
  }
  
  to {
    padding-top: 84px;
  }
}

@keyframes header-curve-shrink {
  from {
    padding-top: 40px;
  }

  to {
    padding-top: 0px;
  }
}

@keyframes header-curve-enlarge {
  from {
    padding-top: 0px;
  }

  to {
    padding-top: 40px;
  }
}

nav {
  .header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    padding-top: 84px;
    animation-duration: 0.5s;
    animation-name: header-enlarge;
  }
  
  .header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding-top: 23px;
    animation-duration: 0.5s;
    animation-name: header-shrink;
  }

  .header-curve-long {
    padding-top: 40px;
    animation-duration: 0.5s;
    animation-name: header-curve-enlarge;
  }

  .header-curve-short {
    padding-top: 0px;
    animation-duration: 0.5s;
    animation-name: header-curve-shrink;
  }

  ul {
    float: right;
    list-style-type: none;

    li {
      display: inline-block;

      a {
        @extend .body2;
        display: block;
        color: $primary;
        text-align: center;
        padding: 14px 30px;
        text-decoration: none;
      }
    }
  }

  ul li:last-child a{
    color: $white;
  }
}

.nav-button {
  @extend .button;
  width: 154px;
  height: 48px;
  background-color: $white;
  border-color: $secondary;
  border-width: 1px;
  border-radius: 20px;
  padding: 10px 20px;
}
