// main
$primary: #3171FF;
$blueish-black: #19233c;
$white: #ffffff;
$secondary: #6270A1;
// gray
$gray100: #F7F9FB;
$gray200: #F2F4FA;
$gray300: #E7EAF3;
$gray400: #D4D7DD;
$gray500: #A3A7B1;
// accent color
$green: #37D976;
$light-green: #F2FFED;
$orange: #FF9A00;
$light-orange: #FFF3E9;
$red: #FF0037;
$light-red: #FFEDED;
$light-blue: #EEF7FF;
$default_radius: 4px;