// colors
$primary: #41B9CE;
$secondary: #0288D1;
$disabled: rgba(238, 238, 238, 0.30);
$background: #000000;
$white: white;
$red: red;

$default_radius: 4px;

// fonts
%headline {
  font-family: 'OCR A Std';
  font-size: 105px;
}

%headline40 {
  font-family: OCR A Std, monospace;
  font-size: 40px;
  color: $white;
}

%title {
  font-family: Helvetica Neue, sans-serif;
  font-size: 30px;
  color: $white;
}

%body3 {
  font-family: 'HelveticaNeue-Regular';
  font-size: 20px;
  color: $white;
}

%body2 {
  font-family: 'HelveticaNeue-Medium';
  font-size: 18px;
}

%button {
  font-family: 'HelveticaNeue-Bold';
  font-size: 18px;
  color: $secondary;
}

%caption1 {
  font-family: 'Helvetica Neue';
  font-size: 12px;
}