// colors
$primary: #41B9CE;
$secondary: #0288D1;
$secondary90: rgba(2, 137, 209, 0.90);
$disabled: rgba(238, 238, 238, 0.30);
$background: #000000;
$background20: #00000071;
$background10: #000000ea;
$white20: rgba(255, 255, 255, 0.2);
$white70: rgba(255, 255, 255, 0.7);
$transparent: rgba(255, 255, 255, 0);
$brown: #707070;
$white: white;
$red: red;
$red1: #FA1821;
$grey: #EEEEEE;

$default_radius: 4px;

// fonts
.headline105 {
  font-family: 'OCR A Std';
  font-size: 105px;
  color: $white;
}

.headline40 {
  font-family: OCR A Std, monospace;
  font-size: 40px;
  color: $white;
}

.title {
  font-family: Helvetica Neue, sans-serif;
  font-size: 30px;
  color: $white;
}

.body3 {
  font-family: 'HelveticaNeue-Regular';
  font-size: 20px;
  color: $white;
}

.body2 {
  font-family: 'HelveticaNeue-Medium';
  font-size: 18px;
}

.button {
  font-family: 'HelveticaNeue-Bold';
  font-size: 18px;
  color: $secondary;
}

.caption3 {
  font-family: 'HelveticaNeue-Bold';
  font-size: 14px;
  color: $white;
}

.caption2 {
  font-family: 'Helvetica Neue';
  font-size: 14px;
  color: $primary;
}

.caption1 {
  font-family: 'Helvetica Neue';
  font-size: 12px;
  color: $white;
}